/* Font Family */

@font-face { 
	font-family: Montserrat; src: url('assets/Montserrat-Regular.ttf'); 
	font-family: Titillium; src: url('assets/TitilliumWeb-Regular.ttf'); 
}


.container-fluid{
	padding: 0;
	font-family: Titillium;
}

.col-md-11, .col-md-12 {
	padding: 0;
}

.map-location {
	height: 450px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: none;
}

#map-location{
	background-color: white;
}

/*Button*/
.btn.btn-default {
	width: 22%;
}

/* Navbar */
.logo {
	text-align: center;
}

.logo > img {
	width: 42%;
}

.nav-menu {
	line-height: 70px;
	font-size: 16px;
}

.nav-menu > ul > li {
	margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-menu > ul > li:hover {
	border-bottom: 1px solid black;
}

.dropdown-nav {
    display: block;
    position: absolute;
    line-height: 30px;
    left: 25px;
    z-index: -1;
    padding: 0;
    background: white;
    width: 155px;
    border-bottom: 5px solid white;
}

.dropdown-nav > li {
    margin: 0;
    display: block;
    width: 100%;
    text-align: center;
}

.navbar-scroll {
    -webkit-transition-duration: 0.75s; /* Safari */
    transition-duration: 0.75s;
}


/*Landing*/
.landing-background{
	height: 100%;
}

.container-fluid.top {
	margin-top: 90px;
}

.slogan {
	font-size: 35px;
	text-align: center;
}

.slogan > p {
	width: 75%;
	margin: auto;
	line-height: 25px;
}

.slogan > .highlight {
	font-size: 40px;
	font-weight: 900;
	margin-top: 19%;
}

.slogan > button {
	margin-top: 50px;
}

/*Profile*/
.product > div {
	height: 240px;
	border: solid white 5px;
	background-color: red;
}

.about {
	text-align: center;
}

.about > p {
	width: 65%;
	font-size: 15px;
	font-family: titillium;
	display: block;
	margin: 45px auto;
	text-align: justify;
}

.background, .text {
	min-height: 190px;
	background-color: #DBDCDE;
	padding: 15px;
	text-align: justify;
	font-size: 15px;
	font-family: titillium;
}

.text > p {
	width: 80%;
	margin: auto;
}

.background > h3 {
	position: absolute;
	height: 190px;
	margin: auto;
}

/*Company Profile*/
.company-description > div > p {
	text-align: justify;
}

/*Stores*/
.store > h1, .store-logo {
	margin-bottom: 45px;
}

.store-about > p {
	text-align: justify;
	padding: 10px;
}

/*Services*/

.services-feature {
	margin-top: 35px;
	margin-bottom: 25px;
}

/*Map*/

#infowindow {
	width: 200px;
}

/*Blogs*/
.blog-background {
	padding-bottom: 40px;
}

.blogs, .contact {
	text-align: center;
}

.contact > div {
	margin-bottom: 35px;
}

.blog-article {
	border: solid white 5px;
	background-color: blue;
}

.blog-article > .test {
	height: 100%;
	padding: 0;
	background-color: red;
	border: solid black 1px;
}

/*Newsletter*/
.newsletter-background {
	background-color: red;
	padding-bottom: 30px;
	font-size: 22px;
}

.float-left {
	float: left;
	margin-right: 15px;
}

.newsletter-width {
	width: 70%;
}

/*Footer*/
.footer-background {
	background-color: #263239;
}

.footer-nav {
	padding-top: 30px;
	margin-top: 20px;
}

.fa:hover {
	color: red;
}

.sub-footer {
	font-size: 15px;
	padding: 15px;
	height: auto;
	color: white;
}

.address {
	text-align: center;
	font-size: 17px;
	color: white;
}

.pseudo-styled {
	text-align:center;
	color: white;
	display: block;
	content: "";
	position: absolute;
	border-top: solid 1px white;
	border-bottom: solid 1px white;
    margin-left: 20%;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 60%;
}

ul > li {
	list-style: none;
	float: left;
	margin-left: 35px;
}

/*Contact*/
.arint-location {
	height: 270px;
	margin-top: 30px;
	margin-bottom: 30px;
}